__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/
.git/
.gitignore
.pytest_cache/
.coverage
htmlcov/
tests/
*.sqlite3
*.db
.env
.flake8
pyproject.toml
requirements-dev.txt
